<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Da Burger!{{else}}JK, haven't eaten this yet{{/if}}
	</button>
	<button data-burgerid="{{id}}" class="delburger">Delete</button>
</li>